<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cozy Bite</title>
    <link rel="icon" href="icon.webp" type="image/x-icon">
    <meta name="author" content="Dhanush Jami">
    <meta name="description" content="about the cozy store">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <header>
        <h1><strong>THE COZY BITE</strong></h1>
        <nav>
            <ul>
            <li><a href="menu.html">Menu of our store.</a></li>
            
        <li> <a href="contact.html">To contact us.</a></li>
           
        <li><a href="policy.html">Our policies.</a></li>
           
            </ul>
        </nav>
    </header>

    <main>
        <hr>
        <figure>
            <img src="cozystore.webp" alt="Store photo" titile="Grab a taco" width="400">
            <figcaption><em>THE COZY STORE.</em></figcaption>
        </figure>
        <h2>Whats so special about us?</h2>
        <dl>
            <dt>Warm Ambiance:</dt>
            <dd> A rustic and inviting atmosphere that feels like home, perfect for unwinding.</dd>
            <dt>Thoughtfully Curated Menu:</dt>
            <dd> Simple, delicious dishes made with fresh ingredients, offering comfort and satisfaction.</dd>
            <dt>Personal Touch:</dt>
            <dd>Small, cozy space where every guest is treated like family.</dd>
            <dt>Affordable Elegance: </dt>
            <dd>Gourmet flavors and presentation at prices that won’t break the bank.</dd>
        </dl>
        <hr>
        <h2>Why choose us?</h2>
        <ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;We treat every customer like a guest in our own home.</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;A small, rustic heaven with an ambiance that soothes your soul.</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;Our dishes are crafted from fresh, high-quality ingredients to ensure every bite is delightful.</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;Enjoy a gourmet experience without stretching your budget.</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;Whether it is a casual lunch, a cozy dinner date, or a quick coffee break, we’ve got you covered.</li>
        </ul>
        <hr>
        <aside>
            <details>
                <summary>When and where did our store originate?</summary>
                <p>The Cozy Bite originated in the heart of Dreamville City in 2006.</p>
            </details>
        </aside>
        <hr>
    </main>
<footer>
    <nav>
        <a href="#">Back to top.</a>
    </nav>
</footer>
</body>
</html>