<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cozy Bite menu.</title>
        <meta name="description" content="Menu of Cozy Bite">
        <link rel="stylesheet" href="main.css" type="text/css">
        <link rel="icon" href="icon.webp" type="image/x-icon">
        <meta name="author" content="Dhanush Jami">
    </head>
    <hr>
    <body>
        <header>
            <p><strong>Directions.</strong></p>
            <nav>
                <a href="cobite.html">Main page.</a>
                <br>
                <a href="contact.html">To contact us.</a>
                <br>
                <a href="policy.html">Our policies</a>
            </nav>
        </header>
        <main>
        <h1>Our menu!</h1>
        <table>
            <caption>Menu Board</caption>
            <thead>
                <tr>
                    <td scope="col">Dish type</td>
                    <td scope="col">Dish</td>
                    <td scope="col">Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2">Appetizers</th>
                    <td>Garlic Butter.</td>
                    <td>₹150</td>
                </tr>
                <tr>
                    <td>Bruschetta Trio</td>
                    <td>₹120</td>
                </tr>
                <tr>
                    <th rowspan="2">Main course</th>
                    <td>Creamy Alfredo Pasta</td>
                    <td>₹250</td>
                </tr>
                <tr>
                    <td>Grilled Herb Chicken with veggies</td>
                    <td>₹300</td>
                </tr>
                <tr>
                    <th rowspan="2">Desserts</th>
                    <td>Choco lava cake</td>
                    <td>₹100</td>
                </tr>
                <tr>
                    <td>Vanilla Bean Panna Cotta</td>
                    <td>₹120</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">The main course and desserts at the end is a deadly comb and don't forget to enjoy</td>
                </tr>
            </tfoot>
        </table>
        <hr>
    </main>
    <footer>
        <nav>
            <a href="#">Back to top.</a>
        </nav>
    </footer>
    </body>
</html>